@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
li{ list-style:none; }
a{ text-decoration:none; }
img{ display:block; }

.fl{ float:left; }
.fr{ float:right; }
.clearFix{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }

.width999{ width:999px; margin:0 auto; }
.wrapper{ width:1000px; margin:0 auto; }