@charset "utf-8";
/* CSS Document */

body{ padding-bottom:1000px; font-size:12px; }
/*header*/
.header{ height:36px; background:#fafafa; border-bottom:1px solid #dfdfdf; min-width:930px; }
.header_930{ overflow:hidden; }
.header_left ul{ margin-left:-17px;}
.header_left li{ float:left; border-left:1px solid #dfdfdf; padding:0 12px 0 16px; margin-top:12px;}
.header a{ color:#8c8c8c; }
.header a:hover{ color:#f40; }
.header_right li{ float:left; border-right:1px solid #dfdfdf; padding:0 12px 0 16px; margin-top:12px;}
.header_right ul{ margin-right:-13px;}

/*logo*/
.logo{ height:95px; }
h1{ text-indent:-999em; background:url(../images/logo.png) no-repeat; width:70px; height:70px; }
.logo_l{ margin-top:25px; }
.logo_r{ width:560px; margin-top:25px; }
.logo_r p{ margin-bottom:19px; }
.logo_r input{ width:383px; height:38px; border:1px solid #dfdfdf; }
.logo_r .sousuo{ width:38px; height:38px; border:1px solid #dfdfdf;  color:#6c6c6c; text-align:center; line-height:38px; margin:0 10px 0 -1px; }
.logo_r span{ width:126px; height:40px; background:#ffdb3d;   text-align:center; line-height:40px;}
.logo_r span a{ color:#333333; display:block; }

/*navl*/
.nav{ margin-top:15px; }
.navl h2{ width:228px; height:50px; background:#ff4a00; line-height:50px; font-size:18px; color:#fff; padding-left:20px; font-weight:normal; }
.navl li{ width:206px; height:35px; border:1px solid #dfdfdf; border-top:none; padding:19px 20px;}
.navl li p{ color:#ff4a00; margin-bottom:10px; }
.navl li a{ float:left; margin-right:7px; color:#6d6d6d; }
.navl li a:hover{ color:#f40; }

/*navr*/
.navr_top{ width:682px; height:50px; background:#404144; }
.navr_top li{ font-size:15px;  float:left; }
.navr_top li a{ padding:17px 11px; line-height:50px; color:#fff; }
.navr_top li:hover a{ color:#f40; }

.navr_center{ width:682px; height:420px; position:relative; }
.navr_center div span{ width:28px; height:18px; background:#000; border:1px solid #fff; opacity:0.2; fliter:alpha(opacity:20); float:left; color:#fff; margin-right:10px; text-align:center; line-height:18px; cursor:pointer;}
.navr_center div{ position:absolute; right:15px; bottom:15px; }
.navr_center div .navr_btn{ opacity:0.5; fliter:alpha(opacity:50);}
.navr_center a{ display:none; }
.navr_center .navr_show{ display:block; }
.navr_center img{ width:682px; height:420px; }

.navr_bottom li{ width:226px; height:170px; border:1px solid #dfdfdf; border-left:none; float:left; }
.navr_bottom li img{ width:226px; height:170px; }
.navr_bottom .w227{ width:227px; }
.navr_bottom .w227 img{ width:227px; }

/*star*/
.star_header h4{ font-size:18px; margin-top:26px; font-weight:normal; }
.star_header span{ margin:30px 0 0 10px; color:#6d6d6d; }
.star_header b{ width:28px; height:18px; border:1px solid #dfdfdf; color:#a37e6c; text-align:center; line-height:18px; margin:30px 0 0 -1px; cursor:pointer; }

.star_con{ margin-top:10px; overflow:hidden; }
.star_con li{ border:1px solid #dfdfdf; width:309px; height:308px; float:left; margin-left:-1px; }
.star_con li img{ width:309px; height:308px; }
.star_con ul{ margin-left:1px; width:1860px; }
.star_con .w308{ width:308px; }
.star_con .w308 img{ width:308px; height:308px; }


/*xinpin*/
.xinpin_header h4{ font-size:18px; margin-top:30px; color:333; }
.xinpin_header b{ margin-top:35px; }
.xinpin_header b a{ color:#333; }
.xinpin_header{ margin-bottom:16px; }

.xinpin_conl{ width:619px; height:929px; border:1px solid #dfdfdf; }
.xinpin_conl1 img { border-bottom:1px solid #dfdfdf;  width:619px; height:309px; }
.xinpin_conl2_l{ width:253px; height:309px; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:0 26px 0 30px; }
.xinpin_conl2_l span{ width:70px; height:20px; background:#f32f39; text-align:center; line-height:20px; }
.xinpin_conl2_l span a{ color:#fff; }
.xinpin_conl2_l div{ margin-top:34px; line-height:21px; }
.xinpin_conl2_l p{ color:#00005f; }
.xinpin_conl2_l div i{ font-style:normal; color:#00005f; }
.xinpin_conl2_l div b{ color:#8c8c8c; text-decoration:line-through; }
.xinpin_conl2_l img{ margin-left:16px; width:220px; height:220px; }

.xinpin_conl3{ width:279px; height:154px; border-bottom:1px solid #dfdfdf; padding-left:30px;}
.xinpin_conl3 div{ line-height:20px; margin-top:33px; }
.xinpin_conl3 div a{ color:#00005f; }
.xinpin_conl3 img{ margin-top:10px; }

.xinpin_conl4_l{  width:253px; height:309px; padding:0 26px 0 30px;  }
.xinpin_conl4_l div{ margin-top:34px; line-height:21px; }
.xinpin_conl4_l p{ color:#00005f; }
.xinpin_conl4_l div i{ font-style:normal; color:#00005f; }
.xinpin_conl4_l div b{ color:#8c8c8c; text-decoration:line-through; }
.xinpin_conl4_l img{ margin-left:16px; width:220px; height:220px; }

.xinpin_conr_1 li{ width:259px; height:126px; border:1px solid #dfdfdf; border-left:none; padding:0 19px 0 30px; margin-top:-1px; }
.xinpin_conr_1 ul{ margin-top:1px; }
.xinpin_conr_1 li span{ width:70px; height:20px; background:#f32f39; text-align:center; line-height:20px; display:block; } 
.xinpin_conr_1 li span a{ color:#fff; }
.xinpin_conr_1 li img{ margin-top:13px; }
.xinpin_conr_1 li span{ margin-bottom:14px; }
.xinpin_conr_1 li h4{ font-size:19px; color:#333; }
.xinpin_conr_1 li i{ color:#f32f39; text-sytle:normal; }
.xinpin_conr_1 li b{ color:#8c8c8c; font-weight:normal; text-decoration:line-through; }
.xinpin_conr_1 li p{ color:#6d6d6d; margin-top:8px; }

.xinpin_conr_2{ width:248px; height:219px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; padding:30px; }
.xinpin_conr_2 h3{ font-size:17px; color:#333333; margin-bottom:15px; }
.xinpin_conr_2 input{ width:231px; height:38px; border:1px solid #dfdfdf; padding-left:15px; margin-bottom:10px; }
.xinpin_conr_2 select{ width:248px; height:38px; border:1px solid #dfdfdf; padding-left:15px; margin-bottom:24px; }
.xinpin_conr_2 p{ color:#6d6d6d; margin-bottom:21px; }
.xinpin_conr_2 div{ width:248px; height:40px; background:#dcdee4; color:#fff; text-align:center; line-height:40px; }

.xinpin_conr_3{ width:248px; height:208px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; padding:30px; }
.xinpin_conr_3 h3{ font-size:17px; color:#333; margin-bottom:10px; }
.xinpin_conr_3 li i{ background:url(../images/heidian.png) no-repeat left; display:inline-block; width:2px; height:2px;  margin:6px 0 3px 0;}
.xinpin_conr_3 li b{ font-weight:normal; margin-left:11px; }
.xinpin_conr_3 li{ width:248px; border-bottom:1px solid #dfdfdf; padding:16px 0 17px 0;}
.xinpin_conr_3 li a{ color:#333; }
.xinpin_conr_3 .xinpin_conr_3bor { border:none; }


/*love*/
.love_conl{ width:619px; height:619px; border:1px solid #dfdfdf; }
.love_conl1 img { border-bottom:1px solid #dfdfdf;  width:619px; height:309px; }
.love_conl2_l{ width:253px; height:309px; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:0 26px 0 30px; }
.love_conl2_l span{ width:70px; height:20px; background:#f32f39; text-align:center; line-height:20px; }
.love_conl2_l span a{ color:#fff; }
.love_conl2_l div{ margin-top:34px; line-height:21px; }
.love_conl2_l p{ color:#00005f; }
.love_conl2_l div i{ font-style:normal; color:#00005f; }
.love_conl2_l div b{ color:#8c8c8c; text-decoration:line-through; }
.love_conl2_l img{ margin-left:16px; width:220px; height:220px; }

.love_conr li{ width:277px; height:102px; border:1px solid #dfdfdf; border-left:none; padding-left:31px; margin-top:-1px; }
.love_conr ul{ margin-top:1px; }
.love_conr .love_h103{ height:103px; }
.love_conr .love_h103 h4{ margin-top:38px; }
.love_h103{ font-size:24px; }
.love_h103 b{ color:#ff4a00; margin-right:5px; }
.love_h103 h4{ color:#000; }
.love_conr li b{ font-size:29px; color:#ff4a00; margin:34px 20px 0 0; }
.love_conr li div{ margin-top:35px; color:#333; }
.love_conr li img{ margin:15px 20px 0 0; }

/*热评产品*/
.Forwardest{ width:928px; height:410px; border:1px solid #dfdfdf; border-right:none; }
.Forwardest li{ border-right:1px solid #dfdfdf; width:309px; height:410px; float:left; }
.Forwardest li div{ margin:30px 0 0 30px; color:#333333;  line-height:20px; }
.Forwardest li h4{ font-weight:normal; }
.Forwardest li h5{ font-weight:normal; color:#9d8caf; }
.Forwardest li h6{ font-weight:normal; }
.Forwardest li img {  width:100%; width:220px; height:220px; margin:20px 0 0 45px; }
.Forwardest li p{ width:252px; height:46px; background:#f3f3f3; margin:10px; padding:10px 22px 0 15px; line-height:18px; color:#6d6d6d; }
.Forwardest .w308{ width:307px; }

/*特价产品*/
.special{ width:928px; height:309px; border-top:1px solid #dfdfdf; border-left:1px solid #dfdfdf; }
.special_conl2_l{ width:251px; height:309px; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:0 26px 0 30px; }
.special_conl2_l span{ width:70px; height:20px; background:#f32f39; text-align:center; line-height:20px; }
.special_conl2_l span a{ color:#fff; }
.special_conl2_l div{ margin-top:34px; line-height:21px; }
.special_conl2_l p{ color:#00005f; }
.special_conl2_l div i{ font-style:normal; color:#00005f; }
.special_conl2_l div b{ color:#8c8c8c; text-decoration:line-through; }
.special_conl2_l img{ margin-left:16px; width:220px; height:220px; }

/*footer*/
.footer{ background:#fafafa; height:534px; min-width:930px; margin-top:65px;  }
.footerl{ height:154px; border-bottom:1px solid #dfdfdf; }
.footerl ul{ overflow:hidden; width:1000px;}
.footerl li{ width:120px; margin:30px 33px 0 33px; float:left; line-height:48px; }
.footerl li span{ font-size:28px; color:#6d6d83; text-align:center; display:block; }
.footerl li p{ font-size:14px; color:#000; text-align:center; }

.footerc{ height:198px; border-bottom:1px solid #dfdfdf; }
.footerc ul{ margin-top:40px; }
.footerc li{ width:148px; height:118px; border-right:1px solid #dfdfdf; float:left; }
.footerc li dl{ margin:5px 0 0 20px; }
.footerc li dt{ font-size:17px; color:#333333; margin-bottom:15px; }
.footerc li dd{ line-height:27px; }
.footerc li dd a{ color:#6d6d6d; }
.footerc .footerc_1{ width:185px; text-align:center; border:none; }
.footerc .footerc_1 dt{ font-size:19px; color:#000; margin-bottom:5px; }
.footerc .footerc_1 .footerc_2{ width:120px; height:30px; background:#ff4a00; margin-left:19px; }
.footerc .footerc_1 .footerc_2 a{ color:#fff; }

.footerb{ padding-top:35px; }
.footerb select{ width:198px; height:38px; border:1px solid #dfdfdf; color:#8c8c8c; }
.footerb p{ line-height:20px; color:#333333; }

.footerend{ margin-top:25px; }
.footerend img{ width:54px; height:20px; }





















